*.lso
*.bgn
*.bit
*.bld
*.cmd_log
*.cmd
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.ini
*.log
*.txt
*.html
*.xwbt
*.xrpt
*.xmsgs
*.wdb
*.mrp
*.csv
*.jou
*.str
*.pb
xst/
.Xil/
_xmsgs/
isim/
xsim.dir/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.bak
*.orig
*~