NET "ucf_A[6]" LOC = M15; # Bit 6 do vetor A
NET "ucf_A[5]" LOC = M16; # Bit 5 do vetor A
NET "ucf_A[4]" LOC = L15; # Bit 4 do vetor A

NET "ucf_A[3]" LOC = K15; # Bit 3 do vetor A
NET "ucf_A[2]" LOC = K16; # Bit 3 do vetor A
NET "ucf_A[1]" LOC = J16; # Bit 2 do vetor A
NET "ucf_A[0]" LOC = N15; # Bit 1 do vetor A

NET "ucf_stop" LOC = L14; # Led LD0

NET "ucf_clock" LOC = T9;  # Pino de entrada do clock
NET "ucf_reset" LOC = J13; # reset associado ao BTN0

NET "ucf_carga" LOC = K12; # sinal carga associado ao BTN3
NET "ucf_conta" LOC = K13; # sinal conta associado ao BTN2

## These are the pins of the display
##	First, the segment pins
NET "ucf_dec_ddp[7]"	LOC = F13;	# Segment a LED bar
NET "ucf_dec_ddp[6]"	LOC = E13;	# Segment b LED bar
NET "ucf_dec_ddp[5]"	LOC = G15;	# Segment c LED bar
NET "ucf_dec_ddp[4]"	LOC = H13;	# Segment d LED bar
NET "ucf_dec_ddp[3]"	LOC = J14;	# Segment e LED bar
NET "ucf_dec_ddp[2]"	LOC = E14;	# Segment f LED bar
NET "ucf_dec_ddp[1]"	LOC = G16;	# Segment g LED bar
NET "ucf_dec_ddp[0]"	LOC = H14;	# Segment dp - the decimal point LED
##	Next, the 7-segment anode control pins
NET "ucf_an[3]"	LOC = F12;	# anode 3
NET "ucf_an[2]"	LOC = G13;	# anode 2
NET "ucf_an[1]"	LOC = G12;	# anode 1
NET "ucf_an[0]"	LOC = G14;	# anode 0